name: Docker

on:
  push:
    branches:
      - main
      - feature/docker
    tags:
      - '*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Get ref
        id: get-ref
        run: |
          if [[ $GITHUB_REF == refs/heads/main ]]
          then
            echo ::set-output name=REF::latest
          elif [[ $GITHUB_REF == refs/heads/* ]]
          then
            echo ::set-output name=REF::${GITHUB_REF#refs/heads/}
          else
            BRANCH=$(echo ${GITHUB_REF#refs/heads/} | sed -r 's/[\/]/-/g')
            echo ::set-ouput name=ref::$BRANCH
          fi
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/archon:${{ steps.get-ref.outputs.REF }}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
